::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #afaeae;
}

::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 1rem;
    /* height: 5px; */
}